<div class="card">
    <div class="card-header">
      <h3>ViewAll Products Component</h3>
    </div>
    <div class="card-body">
      <h5 class="card-title">This is our view all products component</h5>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Brand</th>
            <th scope="col">Price</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <th scope="row">{{product.prodId}}</th>
            <td>{{product.prodName}}</td>
            <td>{{product.brand}}</td>
            <td>{{product.price}}</td>
            <!--<td><a class="btn btn-primary" [routerLink]="'/product/update/'+product.prodId">Update</a></td>-->
            <td><a class="btn btn-primary" [routerLink]="['/product','update', product.prodId]">Update</a></td>
          </tr>
          
        </tbody>
      </table>
      
      
      
    </div>
  
  </div>
