<div class="card">
    <div class="card-header">
      <h3>Update Medicine</h3>
    </div>
    <h4 *ngIf="message" [style.color]="success ? 'green':'red'">{{message}}</h4>
    <div class="card-body">
      <h3>Medicine Details</h3>
      <!--<ul *ngIf="product">
        <li>Product Id: {{product.productId}}</li>
        <li>Product Name: {{product.productName}}</li>
        <li>Product Category: {{product.category.name}}</li>
        <li>Product brand: {{product.brand}}</li>
        <li>Product Price: {{product.price}}</li>
      </ul>-->
      <form #productForm="ngForm" novalidate (ngSubmit)="onUpdate()">
       <!-- <div class="form-group">
          <label>Product Id: {{product.productId}}</label>
        </div>-->
        <div class="form-group">
            <label>Medicine Name</label>
            <input type="text" required
                    class="form-control" 
                    name="name"
                    #name = "ngModel"
                    [class.is-invalid]="name.invalid && name.touched"
                    [(ngModel)]="product.productName"/>
            <div *ngIf="name.invalid && name.touched">
              <small class="text-danger">Medicine name is required</small>
            </div>

        </div>

        <!--<div ngModelGroup="category">-->
        <div class="form-group">
          <label>Category</label>
          <select class="custom-select" required
                  name="categoryName"
                  #categoryName = "ngModel"
                  [class.is-invalid]="categoryName.invalid && categoryName.touched"
                  [(ngModel)]="product.category.name">
              <option value="">Select Category</option>
              <option *ngFor="let category of categories">
                  {{category.name}}
              </option>
          </select>
         
          <div *ngIf="categoryName.invalid && categoryName.touched">
            <small class="text-danger">Category is required</small>
          </div>
        </div>
      <!--</div>-->

        <div class="form-group">
            <label>Manufacturer</label>
            <input type="text" required
                    class="form-control" 
                    name="manufacturer" 
                    #manufacturer="ngModel"
                    [class.is-invalid]="manufacturer.invalid && manufacturer.touched"
                    [(ngModel)]="product.manufacturer"/>

                    <div *ngIf="manufacturer.invalid && manufacturer.touched">
                      <small class="text-danger">Manufacturer is required</small>
                    </div>
        </div>

        <div class="form-group">
            <label>Price</label>
            <input type="number" required min="10"
                    class="form-control" 
                    name="price" 
                    #price="ngModel"
                    [class.is-invalid]="price.invalid && price.touched"
                    [(ngModel)]="product.price"/>

                    <div *ngIf="price.invalid && price.touched">
                      <small *ngIf="price.errors.required" class="text-danger">Price is required</small>
                      <small *ngIf="price.errors.min" class="text-danger">invalid product price</small>
                    </div>
        </div>
        
      <button class="btn btn-primary" 
              type="submit"
              [disabled]="productForm.form.invalid">Update</button>


    </form>
    </div>
  </div>
